{% block footer %}
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <img src="/public/asset/img/portrait.jpg" alt="Pierre Fayet"
                         class="float-start rounded-circle border border-3 border-white me-3" style="width: 100px;">

                    <section class="text-center">
                        <h2>Retrouvez-moi sur:</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://github.com/pierrefayet?tab=repositories" target="_blank">
                                    <img src="/public/asset/img/github-mark-white.png" alt="GitHub"
                                         style="width: 40px;">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/pierrefayet1985/" target="_blank">
                                    <img src="/public/asset/img/LI-In-Bug.png" alt="LinkedIn" style="width: 40px;">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/pfayet" target="_blank">
                                    <img src="/public/asset/img/fb.png" alt="Facebook" style="width: 36px;">
                                </a>
                            </li>
                            <li class="mt-2">
                                <img src=
                                     "https://insight.symfony.com/projects/cfbe73ac-a26e-40bc-89ce-a8b323dbe995/big.svg"
                                     alt="Badge symfony insight"/>
                            </li>
                        </ul>
                    </section>
                    <div style="background-image: url('https://insight.symfony.com/projects/cfbe73ac-a26e-40bc-89ce-a8b323dbe995/big.svg')">
                    </div>
                    <div class="small text-center text-muted fst-italic">&copy; Pierre Fayet 2023</div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
