<div class="row">
    <div class="col">
        <a href="">CV</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="">Twitter</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="">GitHub</a>
    </div>
</div>

        <div class="row">
            <div class="col">
                <a href="index.php?page=admin">Administration</a>
            </div>
        </div>

<div class="row">
    <div class="col pt-2">
        <p></p>
    </div>
</div>