{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                            href="index.php?method=home&controller=HomePageController">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                            href="index.php?method=index&controller=PostController">Articles</a>
                    </li>
                    {% if session['role'] is defined and session['role'] == "admin" %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                href="index.php?method=addPost&controller=PostController">Ajout d'un
                                article</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                href="index.php?method=indexComment&controller=CommentController">
                                Modération</a>
                        </li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                            href="index.php?method=about&controller=AboutController">A propôs de
                            moi</a>
                    </li>
                    {% if session['role'] is defined %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                href="index.php?method=update&controller=UserController">Profile</a>
                        </li>
                    {% endif %}
                    {% if session['role'] is defined %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                href=index.php?method=logout&controller=UserController>
                                Déconnexion</a>
                        </li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                href="index.php?method=login&controller=UserController">Bienvenue
                                {{ session['username'] }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                href="index.php?method=login&controller=UserController">
                                Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
    <header class="masthead" style="background-image: url('/public/asset/img/fond_ecran.jpg'); background-size: cover;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto text-center">
                    <div class="site-heading">
                        <h1 class="fs-1 fs-lg-2 text-white text-md-center my-4 title-heading"
                            style="color: #ffffff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Quand rigueur
                            logistique rencontre passion du développement PHP</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
