<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src={{ asset('js/jsFunction.js') }}></script>
</head>
