<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog PHP - Projet 5 - Développeur d'application PHP">
    <meta name="author" content="Pierre Fayet">
    <title>Projet 5 - PHP - Développeur d'application Symfony - OpenClassrooms</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="" integrity="" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>
<div class="page">
    <div class="container site-header">

    </div>
    <main role="main" class="site-content">
        <div class="jumbotron">

            <div class="container">
                <div class="row pt-5">
                    <div class="col-lg-2 text-center">
                        <img src="../asset" class="rounded-circle" alt="Avatar">
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer class="site-footer footer bg-dark text-white-50">
        <div class="container mt-3 mb-3 text-md-center">
        </div>
    </footer>
</div>

</body>
</html>
