<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog PHP - Projet 5 - Développeur d'application PHP">
    <meta name="author" content="Pierre Fayet">
    <link rel="stylesheet" href="/public/asset/css/styles.css">
    <link rel="stylesheet" href="/public/asset/css/custom.css">
    <link rel="shortcut icon" href="/public/asset/img/fond_ecran.jpg" type="image/x-icon"/>
    <title>Projet 5 - PHP - Développeur d'application Symfony - OpenClassrooms</title>
</head>
<body>
{% include'layout/header.twig' %}
{% block content %}

{% endblock %}

{% include 'layout/footer.twig' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
