{% extends 'layout/layout.twig' %}
{% block content %}
    <main>
        <section>
            <h2 class="m-lg-3">Qui suis-je ?</h2>
            <p class="m-lg-3">Je suis Pierre Fayet, un professionnel en reconversion. J'ai passé de nombreuses années
                dans le domaine
                de la logistique, mais je suis actuellement en transition pour devenir développeur backend spécialisé en
                PHP/Symfony.</p>
        </section>
        <div id="center-point"></div>
        <section>
            <h2 class="m-lg-3">Mon parcours</h2>
            <p class="m-lg-3">À 38 ans, je suis également fier d'être le père d'une petite fille, qui est ma
                principale source de
                motivation pour réussir cette transition de carrière.</p>
            <p class="m-lg-3">J'ai décidé de me lancer dans le développement web car j'ai toujours été fasciné par la
                programmation et
                les possibilités qu'elle offre. Je suis déterminé à acquérir de nouvelles compétences et à contribuer au
                monde du développement informatique.</p>
        </section>
    </main>
{% endblock %}
