{% extends 'layout/layout.twig' %}

{% block content %}
    <main>
        <section>
            <h2>Qui suis-je ?</h2>
            <p>Je suis Pierre Fayet, un professionnel en reconversion. J'ai passé de nombreuses années dans le domaine
                de la logistique, mais je suis actuellement en transition pour devenir développeur backend spécialisé en
                PHP/Symfony.</p>
        </section>
        <section>
            <h2>Mon parcours</h2>
            <p>À 38 ans, je suis également fier d'être le père d'une petite fille, qui est ma principale source de
                motivation pour réussir cette transition de carrière.</p>
            <p>J'ai décidé de me lancer dans le développement web car j'ai toujours été fasciné par la programmation et
                les possibilités qu'elle offre. Je suis déterminé à acquérir de nouvelles compétences et à contribuer au
                monde du développement informatique.</p>
        </section>
        <section>
            <h2>Contactez-moi</h2>
            <p>Si vous souhaitez en savoir plus sur mon parcours, discuter de projets ou simplement échanger des idées,
                n'hésitez pas à me contacter. Je suis ouvert aux opportunités de collaboration et prêt à relever de
                nouveaux défis.</p>
        </section>
    </main>
{% endblock %}