{% extends 'layout/layout.twig' %}
{% block content %}
    <div class="container mt-5 mb-5">
        <h2 class="mt-5 mb-5 text-center">Bienvenue dans mon blog sur l'univers php</h2>
        <h3>Pour me contacter :</h3>
    </div>
    <div id="central-point"></div>
    <form method="post" class="mb-5">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="POST"
                        class="border p-4">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" rows="8" name="message"
                                      required></textarea>
                        </div>
                        <input type="hidden" value="{{ hash }}" name="csrf">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
    <div class="text-center mt-4 mb-3">
        <a href="../../public/asset/cv/Cv_Pierre_Fayet.pdf" class="btn btn-primary" target="_blank">Télécharger mon
            CV</a>
    </div>
{% endblock %}
