{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Écrivez votre commentaire</h1>
        <form method="POST">
            <div class="form-group">
                <label for="content">Contenu du commentaire</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a href="index.php?method=addComment&controller=CommentController" type="submit" class="btn btn-primary">Modifier</a>
            <a href="index.php?method=deleteComment&controller=commentController" type="submit" class="btn btn-outline-danger mb">Supprimer</a>
        </form>
    </div>
    {% if successMessage is defined %}
        <div class="alert alert-success">{{ successMessage }}</div>
    {% endif %}

    {% if errorMessage is defined %}
        <div class="alert alert-danger">{{ errorMessage }}</div>
    {% endif %}
{% endblock %}