{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Commentaire</h1>
        {% if unAuthorize is not defined or false == unAuthorize  %}
        <form method="POST">
            <div class="form-group">
                <label for="content">Contenu du commentaire</label>
                <textarea class="form-control" id="content" name="content" rows="5" required>
                    {% if comment is defined %}
                        {{ comment.content }}
                    {% endif %}</textarea>
            </div>
            <div class="mt-3">
                {% if comment is defined %}
                    <input type="submit" class="btn btn-primary" value="Modifier">
                    <a href="index.php?method=deleteComment&controller=commentController&postId={{ comment.id }}"
                       class="btn btn-outline-danger mb">Supprimer</a>
                {% else %}
                    <input type="submit" class="btn btn-primary" value="Ajouter" />
                {% endif %}
            </div>
        </form>
        {% endif %}
    </div>
    {% if successMessage is defined %}
        <div class="alert alert-success">{{ successMessage }}</div>
    {% endif %}

    {% if errorMessage is defined %}
        <div class="alert alert-danger">{{ errorMessage }}</div>
    {% endif %}
{% endblock %}