{% extends 'layout/layout.twig' %}
{% block content %}
    <div class="container">
        <h2 class="mt-5">Modifier l'article</h2>
        <form method="POST" action="{{ path('update_post', { 'postId': article.id }) }}">
            <div class="form-group">
                <label for="content">Contenu de l'article :</label>
                <textarea class="form-control" id="content" name="content">{{ article.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </form>
    </div>
{% endblock %}
