{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="container">
        <h1>Ajouter un nouvel article</h1>

        <form method="post" action="/index.php?action=add&controller=post">
            <div class="form-group">
                <label for="title">Titre de l'article</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="content">Contenu de l'article</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter l'article</button>
        </form>
    </div>
    {% if successMessage is defined %}
        <div class="alert alert-success">{{ successMessage }}</div>
    {% endif %}

    {% if errorMessage is defined %}
        <div class="alert alert-danger">{{ errorMessage }}</div>
    {% endif %}
{% endblock %}
