{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="container">
        <h2 class="mt-5">Bonne lecture!</h2>
        <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h2 class="card-title text-black-50">{{ postId.title }}</h2>
                            <p class="card-text text-black-50">{{ postId.content }}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}