{% extends 'layout/layout.twig' %}
{% block content %}
    <h2 class="text-center">Connectez-vous pour pouvoir laisser un commentaire</h2>
    {% if params.errorMessage is defined %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ params.errorMessage }}
        </div>
    {% elseif errorMessage is defined %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ errorMessage }}
        </div>
    {% endif %}
    <div class="container mt-5 mb-5">
        <form method="POST" action="index.php?method=login&controller=UserController">
            <div class="form-group">
                <label for="username">Nom de l'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" >
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type=password class="form-control" id="password" name="password" >
            </div>
            <div class="mt-4">
                <input type="hidden" value="{{ csrf }}" name="csrf">
                <button type="submit" class="btn btn-primary ">Se connecter</button>
                <a href="index.php?method=register&controller=UserController" class="btn btn-primary">S'inscrire</a>
            </div>
        </form>
    </div>
{% endblock content %}
