{% extends 'layout/layout.twig' %}

{% block content %}
<h1>Connectez-vous Pour pouvoir laisser un commentaire</h1>
<form action="../Model/Connection.php" method="post">
    <label for="email">Email :</label>
    <input type="email" id="email" name="email"><br>

    <label for="message">Message :</label><br>
    <textarea id="message" name="message" rows="4" cols="50"></textarea><br>

    <input type="submit" value="Envoyer">
</form>
{% endblock content %}